
<h2>Email--PC时代的营销方式</h2>
<img src="~/Themes/Web/Images/Mail.jpg" style="float:left; margin-right:20px;"/>
<h3>什么是Email营销？？</h3>
  <p> <pre>    Email 营销（ Email Marketing ）
随着网络时代的来临而诞生。十年几来，尽管整体的网络经济沉沉浮浮，但是 Email 营销却一直呈现
出稳步增长的态势。在美国和欧洲，随着一系列问题的逐渐解决， Email 营销规范化的进程正在加快，
并呈现出了不可阻挡的发展势头。</pre>
</p>
<h3>Email营销优势</h3>
<p>email营销是一种成本低廉、高效率的营销模式，它耗时少，覆盖广，越来越受到人们的重视。</p>
<img src="~/Themes/Web/Images/Mails.jpg" style="float:right; margin-left:20px;"/>
<h4>1、成本低廉</h4>
<p>电子邮件营销只要有邮件服务器，联系10个用户与联系上万个用户的成本几乎没什么区 别。但然如果要发上
    百封以上的邮件情况就不同了，因为这需要专用的服务器及非常大的宽带。特别是一些免费注册的邮箱每天
    发送邮件也是有限制的。另外发送一 封邮件的成本几乎等于零，因为只要找到了用户邮箱，便可花很少的时
    间将邮件发送出去。</p>
<h4>2、效率高</h4>
<p>相比其他网络营销 手法，电子邮件营销也十分快速。搜索引擎优化需要几个月，甚至几年的努力才能充分发挥效
    果。博客营销更是需要时间，以及大量的文章。SNS营销需要花时间 参与社区活动，建立广泛的关系网。而电子邮
    件营销只要有邮件数据在手，发送邮件几小时后就可看到效果。</p>
<h4>3、精准</h4>
<p>邮件只要能投放精准，客户转化率还是非常高的，远比其他营销方式高。随着RSS营销、博客营销等发展。及时向户传达信息已经不限于使用电子邮件了。</p>
