    <!--header end-->
    <div class="row-fluid">                     
    <div class="main-content">
    <!-- 广告轮播 -->
    <div id="ad-carousel" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#ad-carousel" data-slide-to="0" class="active"></li>
            <li data-target="#ad-carousel" data-slide-to="1"></li>
        </ol>
        <div class="carousel-inner">
            <div class="item active">
                <img src="~/Themes/Web/Images/02.jpg.jpg" alt="1 slide">
                    <div class="container">
                    <div class="carousel-caption">
                        <h1>手机短息</h1>
                        <p>新时代的营销方式，它打破了人为的局限性，能快速的传递信息，</p>
                        <p></p>
                    </div>
                </div>
            </div>
            <div class="item">
                <img src="~/Themes/Web/Images/03.jpg.jpg"" alt="2 slide">
                    <div class="container">
                        <div class="carousel-caption">
                        <h1>邮件营销</h1>
                        <p>Mozilla Firefox，中文名通常称为“火狐”或“火狐浏览器”，是一个开源网页浏览器。</p>
                        </div>
                    </div>
            </div>
        </div>
        <a class="left carousel-control" href="#ad-carousel" data-slide="prev"></a>
        <a class="right carousel-control" href="#ad-carousel" data-slide="next"></a>
    </div>
    <div class="container">
    <div class="row">
        <div class="col-md-6">
        <h1>手机短息</h1>
        <p>手机短信作为“第五媒体”的地位，已经得到广泛的认同，与传统大众媒体具有相通、相似、相近的共同之处，拥有庞大的受众群体。对于广告主而言，手机短信息广告媒体具有速度快、投资省、灵活性、低成本、瞬时轰动效应强等</p>
        </div>
        <div class="col-md-6"> 
        <h1>邮件营销</h1>
        <p>在现今电商企业扎堆的情况下，用户收到的推广邮件并不只你一封。也就因为如此，用户对于邮件所能传递的价值信息越来越关注。如果你的邮件能提供比其他对手更多的价值信息，用户就会有更高的概率选择你，并深度的关注你。</p>       
        </div>
    </div>
</div>        
    <!-- Clear "float". Without a better way, do not delete it，thanks! -->
    </div>    
    </div>
   <!--登陆-->
<div class="modal fade" id="about-modal" tabindex="-1" role="dialog" aria-labelledby="modal-label"
        aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span
                        aria-hidden="true">&times;</span><span class="sr-only">关闭</span></button>
                <h4 class="modal-title Modal-login"><a class="modal-login modal-active" href="#" ">登录</a><a class="modal-enroll" href="#">注册</a></h4>
                </div>
            <div class="modal-body">
                <div class="login">
                    <span class="iconfont account">&#xe67a;|</span><input type="text" name="email" class="rlf-input" placeholder="请输入登录账号">
                    <div class="Occupying"><p class="Modal-errorPrompt error-account iconfont">&#xf0003;账号格式不正确</p></div>                  
                    <span class="iconfont account">&#xe60d;|</span><input type="password" name="passwor"  class="rlf-input" placeholder="请输入密码"><br />
                        <div class="Occupying"><p class="Modal-errorPrompt error-pass iconfont">&#xf0003;密码错误</p></div>                   
                    <div><input type="checkbox" id="ss"/> <label for="ss" class="auto">自动登录</label><a class="forget-password" href="#">忘记密码？</a></div>
                    <div class="Occupying"><p class="Modal-errorPrompt error-pass iconfont">&#xf0003;账户名或密码错误</p></div> 
                    <button type="button" class="btn btn-success  modal-btn" data-dismiss="modal">登陆</button>
            </div>
                <div class="enroll" style="display:none;">
                <span class="iconfont account">&#xe67a;|</span><input type="text" name="login" class="rlf-input" placeholder="请输入登录账号">
                        <div class="Occupying"><p class="Modal-errorPrompt error-account iconfont">&#xf0003;账号格式不正确</p></div>                  
                    <span class="iconfont account">&#xe60d;|</span><input type="password" name="password" class="rlf-input" placeholder="请输入密码">
                        <div class="Occupying"><p class="Modal-errorPrompt error-pass iconfont"  id="password-short">&#xe623;密码太短</p></div>                    
                        <span class="iconfont account">&#xe60d;|</span><input type="password" name="again-password" class="rlf-input" placeholder="请再次输入密码">
                        <div class="Occupying"><p class="Modal-errorPrompt error-account iconfont">&#xf0003;两次密码不一致</p></div>  
                        <button type="button" class="btn btn-success  modal-btn" data-dismiss="modal">注册</button>
                </div>
           </div>
     </div>
    </div>
</div>
@section ScriptSection
{
    <script type="text/ecmascript">
        $(function (){
           $('.modal-login').click(function(){
               $(this).addClass("modal-active");
               $('.modal-enroll').removeClass("modal-active");
               $('.login').show();
               $('.enroll').hide();
               })
           $('.modal-enroll').click(function () {
               $(this).addClass("modal-active");
               $('.modal-login').removeClass("modal-active");
               $('.login').hide()
               $('.enroll').show();
              })
        })
    </script>
}
