    <div class="row-fluid">                   
            <div class="Email-content">
                <ol class="breadcrumb">
                    <li><a href="#" class="iconfont">&#xe6d9;</a></li>
                    <li><a href="#" class="iconfont">&#xf0053;</a></li>
                    <li class="active">Data</li>
                </ol>
                <div class="personal-nav">
               <ul class="list-group">

                    <li class="list-group-item Personal-active">个人设置<span class="iconfont">&#xe609;</span></li>
                    <li class="list-group-item">修改密码<span class="iconfont">&#xe609;</span></li>
                    <li class="list-group-item">邮件群发<span class="iconfont">&#xe609;</span></li>
                    <li class="list-group-item">邮件设置<span class="iconfont">&#xe609;</span></li>
                    <li class="list-group-item">历史记录<span class="iconfont">&#xe609;</span></li>
                    <li class="list-group-item">信息群发<span class="iconfont">&#xe609;</span></li>
                    <li class="list-group-item">信息设置<span class="iconfont">&#xe609;</span></li>
                    <li class="list-group-item">历史记录<span class="iconfont">&#xe609;</span></li>                    
                </ul>
              </div>               
                <div class="tab-div">
                   <div class="tab-index">
                      <h2 style="text-align:center;">用户资料</h2>
                      <span class="span-margin">头像</span><img src="#" class="tab-image" /><input type="file"  style="margin-left:150px; display:inline; position:relative;"/><br />
                      <span class="span-margin">昵称</span><span class="iconfont account">&#xe67a;|</span><input type="text" name="email" class="personal-input" placeholder="请输入昵称"><br />
                      <span class="span-margin">Q&nbsp;Q</span><span class="iconfont account" style=" margin-left:2px;">&#xe60d;|</span><input type="password" name="password" class="personal-input" placeholder="请输入QQ"><br />
                      <span class="span-margin">邮箱</span><span class="iconfont account">&#xe60d;|</span><input type="password" name="password" class="personal-input" placeholder="请输入邮箱"><br />
                      <span class="span-margin">手机</span><span class="iconfont account">&#xe638;|</span><input type="text" name="email" class="personal-input" placeholder="请输入手机号"><br />
                      <span class="span-margin">性别</span><input type="radio" id="men" name="sex"/><label for="men">男</label>  <input type="radio" id="weimen" name="sex"/><label for="weimen">女</label><br />
                      <span class="span-margin" style="position:relative; top:-95px;">个性签名</span><textarea id="aboutme" class="textarea rlf-field-error" cols="38" name="aboutme" rows="5"></textarea> 
                      <button type="button" class="btn btn-success  modal-btn" data-dismiss="modal" style="margin-left:90px;margin-top:15px;">保存</button>
                </div>
                   <div class="tab-index displayNone">
                      <h2 style="text-align:center;">修改密码</h2>
                      <span class="span-margin">旧密码</span><span class="iconfont account">&#xe67a;|</span><input type="text" name="email" class="personal-input" placeholder="请输入昵称"><br />
                      <span class="span-margin">新密码</span><span class="iconfont account" style=" margin-left:2px;">&#xe60d;|</span><input type="password" name="password" class="personal-input" placeholder="请输入QQ"><br />
                      <span class="span-margin">重新输入</span><span class="iconfont account">&#xe60d;|</span><input type="password" name="password" class="personal-input" placeholder="请输入邮箱"><br />
                      <button type="button" class="btn btn-success  modal-btn" data-dismiss="modal" style="margin-left:90px;margin-top:15px;">保存</button>
                    </div>                  
                   <div class="tab-index displayNone">
                         <h2 style="text-align:center;">邮件群发</h2>
                    </div>
                   <div class="tab-index displayNone">
                      <h2 style="text-align:center;">邮件设置</h2>
                    </div>
                   <div class="tab-index displayNone">历史记录</div>                  
                   <div class="tab-index displayNone">信息群发</div>
                   <div class="tab-index displayNone">信息设置</div>
                   <div class="tab-index displayNone">历史记录</div>                
                   <div class="tab-index displayNone">
                  <h2>意见反馈</h2>
                  <p>您的意见，我们会以最快的速度解决.....</p>
                  <textarea name="textarea" cols="100" rows="10" wrap="soft" placeholder="请您的意见信息......" ></textarea><br />
                  <button type="button" class="btn btn-success  modal-btn" >发送</button>
                 </div>
                </div>      
            </div> 
        </div>



        <!--row-fluid end-->
    @section ScriptSection
{
<script type="text/javascript">
      //tab切换
    $(function () {
        $(".list-group-item").click(function (index) {
            $(".list-group-item").each(function () {
                $(this).removeClass("Personal-active");
            })
            $(this).addClass("Personal-active");
            var In = $(this).index();
            $(".tab-index").each(function () {
                $(this).hide();
            })
            $(".tab-index").eq(In).show();   
        })





        })
        
</script>
 }
       