<h2>短信--移动端营销方式</h2>
<img src="~/Themes/Web/Images/massage.gif" style="float:left; margin-right:20px;"/>
<h3>什么是短信营销？？</h3>
  <p> <pre>是以手机工具为视听终端、上网为平台的个性化信息传播为媒介，以分众为传播目标，定向为传播效果，
  互动为传播应用的大众传播媒介手机为基础的营销模式。</pre>
</p>
<h3>短信营销优势</h3>
<p>短信营销平台作为“第五媒体”的地位，已经得到广泛的认同，与传统大众媒体具有相通、相似、相近的共同之处，拥有庞大的受众群体。对于广告主而言，手机短消息广告
    媒体具有以下不可替代的信息传播优势</p>
<h4>1、灵活性</h4>
<p>短信广告发布时间极具灵活性，广告主可以根据产品特点弹性选择广告投放时间，甚至具体到某个具体的时间段内发布。</p>
<h4>2、互动性</h4>
<p>短信广告可以让机主与销售终端互动，与大众媒体互动，通过这些使短信用户参与到商业互动中，短信广告使人们参与互动的机会大增</p>
<h4>3、低成本</h4>
<p>短信广告的发布费用非常低廉，与传统媒体动辄上十万甚至上百万的广告费用相比，短信广告的成本几乎可以忽略不计。而通过短信平台提交短信广告，比直接用手机发短信息更便宜，大大降低了广告主的广告发布成本。</p>
<h4>3、速度快</h4>
<p>短信营销的传播不受时间和地域的限制，全国任意一个省市都一样；发送数百万手机用户，匀可在发送完毕后马上接收到广告信息。发布广告内容可以随时更改，保证最新信息在最短的时间内传播给消费者。 </p>
