<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>后台管理系统</title>
    <link href="/Themes/Admin/bootstrap-3.3.0/CSS/bootstrap.css" rel="stylesheet"/>
    <link href="/Themes/Admin/bootstrap-3.3.0/CSS/bootstrapExt.css" rel="stylesheet"/>
</head>
<body>
    <div class="container mt">
        <div class="row">
            <div class="col-xs-2 well well-sm">
                <div class="list-group">                    
                    @{
                        Start.Entity.UsersInfo usersInfo = Start.Web.Common.Parameter.LoginUser();
                        @usersInfo.Name <a class="ml" href="/Admin/Logout">退出</a>
                       
                    }
                    <div class="list-group-item mt">
                        <a  href="/Admin/UsersList">用户列表</a>
                        <a class="pull-right glyphicon glyphicon-plus" href="/Admin/Users"></a>
                    </div>
                    <div class="list-group-item mt">
                        <a  href="/Admin/EmailProfileList">邮箱配置列表</a>
                        <a class="pull-right glyphicon glyphicon-plus" href="/Admin/EmailProfile"></a>
                    </div>
                    <div class="list-group-item mt">
                        <a  href="/Admin/EmailList">邮件列表</a>
                        <a class="pull-right glyphicon glyphicon-plus" href="/Admin/Email"></a>
                    </div>
                    <div class="list-group-item mt">
                        <a  href="/Admin/EmailAddressList">邮件地址列表</a>
                        <a class="pull-right glyphicon glyphicon-plus" href="/Admin/EmailAddress"></a>
                    </div>
                    <div class="list-group-item mt">
                        <a  href="/Admin/EmailSendList">邮件发送列表</a>
                        <a class="pull-right glyphicon glyphicon-plus" href="/Admin/EmailSend"></a>
                    </div>
                    <div class="list-group-item mt">
                        <a href="/Admin/MessageProfileList">短信配置列表</a>
                        <a class="pull-right glyphicon glyphicon-plus" href="/Admin/MessageProfile"></a>
                    </div>
                    <div class="list-group-item mt">
                        <a href="/Admin/PhoneAddressList">联系人列表</a>
                        <a class="pull-right glyphicon glyphicon-plus" href="/Admin/PhoneAddress"></a>
                    </div>
                    <div class="list-group-item mt">
                        <a href="/Admin/MessageSendList">短信发送列表</a>
                        <a class="pull-right glyphicon glyphicon-plus" href="/Admin/MessageSend"></a>
                    </div>
                    <div class="list-group-item mt">
                        <a href="/Admin/HelpList">帮助列表</a>
                        <a class="pull-right glyphicon glyphicon-plus" href="/Admin/Help"></a>
                    </div>
                </div>
            </div>
            <div class="col-xs-10">
                @RenderBody()
            </div>
        </div>       
    </div> 
    <div class="navbar-fixed-bottom">
        <div class="container">底部</div>
    </div>   
    <script src="/Themes/Admin/JS/jquery-2.1.1.min.js"></script>
    <script src="/Themes/Admin/JS/jquery.unobtrusive-ajax.min.js"></script>
    <script src="/Themes/Admin/JS/MvcPager.min.js"></script>
    <script src="/Themes/Admin/bootstrap-3.3.0/js/bootstrap.js"></script>
    @RenderSection("ScriptSection", false)
</body>
</html>
