<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <title>首页</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/Themes/Web/CSS/Index.css" rel="stylesheet" />
    <link href="~/Themes/Web/CSS/Member.css" rel="stylesheet" />
    <link href="~/Themes/Web/Icons/iconfont.css" rel="stylesheet" />
    <link href="~/Themes/Web/bootstrap/css/bootstrap.css" rel="stylesheet" />
    <link href="~/Themes/Web/CSS/Web.css" rel="stylesheet" />
</head> 
<body>
    @RenderBody()
    <script src="~/Themes/Web/JS/jquery1-10-1.js"></script>
    <script src="~/Themes/Web/bootstrap/js/bootstrap.min.js"></script>
    @RenderSection("ScriptSection", false)
</body>
</html>