@charset "utf-8";
/***************Index******************/
header {margin-top:20px;}
.nav li:hover a { height:48px;}
.nav li:hover div {position:relative; height:3px; margin:0 5px; background-color:#00F5FF; margin-bottom:-2px;}
.collapse ul:first-child li a { font-size:16px; font-weight:bold;}
#modal-label a ,.forget{ margin:0 30px; }
#modal-label a:hover { color:#ff6a00;}
.modal-active {color:#ff6a00;}
.login,.enroll{ text-align:center; position:relative;}
.rlf-input{ height:40px; width:250px; padding-left:30px; margin-left:-30px;}
.account{ position:relative; top:0px; left:0px;}
.modal-btn{ text-align:center; width:250px !important; margin-bottom:20px !important; margin-top:5px;}
.auto { font-weight:normal;}
.p { height:15px; width:auto;font-size:13px !important; color:red; text-align:left;margin-left:70px;   }
.Occupying {height:22px; width:auto;}
 .carousel { height: 500px; margin-bottom: 60px;}
 .carousel .item { height: 500px; background-color: #000; }
 .carousel .item img {width: 100%;}
 .carousel-caption { z-index: 10; }
/***************Email******************/
.Email-content { margin:20px auto;}
.Emali-form,.modal-footer {margin:20px auto; text-align:center !important;}
.Modal-dialog { width:800px !important;}
.Modal-thcenter {width:553px !important;}
.Modal-Emailp { color:red;}
.inputEmail {height:25px; width:250px; padding-left:30px; margin-left:-30px;}
.Modal-body { max-height:500px; overflow-x:hidden; overflow-y:auto;}